<% include ./partials/header %>
	<div class="container">
	  <div style="margin-left: 350px; margin-top: 80px;">
		<div class="thumbnail" style="width: 60%;">
			<div class="ui items">
			  <div class="item">
			    <div class="image">
			      <img src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/37423011_443154722830103_6313591578543783936_n.jpg?_nc_cat=100&_nc_oc=AQmP3YfVNec8ONoNiDjh6taQpCOPIl66fRxJx7VosYR9Pes2xnKzFGUPnsTrDYVn_cs&_nc_ht=scontent-mrs2-1.xx&oh=e21094b59e1b9276d70928e17fcb40fd&oe=5DE44217">
			      <br>
			      <div class="well">
			      <div class="ui list">
			      <h5><i class="far fa-address-card"></i> Coordonnées:</h5>
			      <div class="item">
				    <div class="content">
				      <i class="fas fa-map-marker-alt"></i><a style="font-size: 12px;">  Tiaret</a>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <i class="fas fa-envelope"></i><a style="font-size: 10px;">  gh_aitabderrahim@esi.dz</a>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/hamouaaesi1999" style="font-size: 10px;">  Hamou Ait Abderrahim</a>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <i class="fas fa-mobile-alt"></i><a style="font-size: 10px;">  +213783211824</a>
				    </div>
				  </div>
				</div>
				</div>
			    </div>
			    <div class="content">
			      <a class="header">Hamou Ait Abderrahim</a>
			      <br>
			        <i class="fas fa-briefcase"></i> Futur ingénieur
			        <br><hr>
			      <div class="description">
			        <p>
						Je suis Hamou Ait Abderrahim, étudiant en informatique à l'école nationale supérieure d'informatique à Alger.
					</p>
					<p>
						Actuellement, je travaille sur  le développement des solutions informatiques qui se présentent sous forme de sites web ou applications mobiles pour les différents problémes de nos jours.
					</p>
					<p>
						Vos propositions sont les bienvenues, n'hésitez donc pas à me contacter si vous avez besoin de quoi que ce soit.
					</p>
			      </div>
			    </div>
			    </div>
			  </div>
		</div>
	</div>
<% include ./partials/footer %>
