<% include ../partials/header %>
	<form action="/messagerie/login" method="POST">
		<input type="text" name="username" placeholder="username" required>
		<input type="password" name="password" placeholder="password" required>
		<button>Login</button>
	</form>
<% include ../partials/footer %>